In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
import numpy as np

# Study data files
mouse_metadata = "Data/Mouse_metadata.csv"
study_results = "Data/Study_results.csv"

# Read the mouse data and the study results
mouse_metadata = pd.read_csv(mouse_metadata)
study_results = pd.read_csv(study_results)

# Combine the data into a single dataset

combined_data = pd.merge(mouse_metadata, study_results, on="Mouse_ID", how="outer")

combined_data

,Mouse_ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.000000,0
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1
...,...,...,...,...,...,...,...,...
1888,z969,Naftisol,Male,9,30,25,63.145652,2
1889,z969,Naftisol,Male,9,30,30,65.841013,3
1890,z969,Naftisol,Male,9,30,35,69.176246,4
1891,z969,Naftisol,Male,9,30,40,70.314904,4
1892,z969,Naftisol,Male,9,30,45,73.867845,4

In [2]:
# Summary Statistics

# Generate a summary statistics table of mean, median, variance, standard deviation, 
# and SEM of the tumor volume for each regimen

combined_data.describe()

# groupby Drug Regimen

dr_group = combined_data.groupby("Drug Regimen")

# create variables to store formulas for calculation

dr_mean = dr_group["Tumor Volume (mm3)"].mean()
dr_median = dr_group["Tumor Volume (mm3)"].median()
dr_var = dr_group["Tumor Volume (mm3)"].var()
dr_std = dr_group["Tumor Volume (mm3)"].std()
dr_sem = dr_group["Tumor Volume (mm3)"].sem()

# create summary dataframe

dr_summary = pd.DataFrame({"Mean": dr_mean,
                          "Median": dr_median,
                          "Variance": dr_var,
                          "Standard Deviation": dr_std,
                          "Standard Error": dr_sem})

# print summary

dr_summary

,Mean,Median,Variance,Standard Deviation,Standard Error
Drug Regimen,,,,,
Capomulin,40.675741,41.557809,24.947764,4.994774,0.329346
Ceftamin,52.591172,51.776157,39.290177,6.268188,0.469821
Infubinol,52.884795,51.820584,43.128684,6.567243,0.492236
Ketapril,55.235638,53.698743,68.553577,8.279709,0.603860
Naftisol,54.331565,52.509285,66.173479,8.134708,0.596466
Placebo,54.033581,52.288934,61.168083,7.821003,0.581331
Propriva,52.322552,50.854632,42.351070,6.507770,0.512884
Ramicane,40.216745,40.673236,23.486704,4.846308,0.320955
Stelasyn,54.233149,52.431737,59.450562,7.710419,0.573111
Zoniferol,53.236507,51.818479,48.533355,6.966589,0.516398

In [ ]:
# Bar Plots pt. 1

# Generate a bar plot showing number of data points for each treatment regimen using pandas






# Bar Plots pt. 2
# Generate a bar plot showing number of data points for each treatment regimen using pyplot